<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
  
    <title>React App</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
	
	<center>
		<div>
			<!-- Logo, zaciąga font z css i klasę odpowiedzialną za rozmiar-->
			<i class="logo" style= "font-family :myFirstFont; color:white;"> Beember </i>
			
		</div>
		  
    <div id="container">
      <div class="pour"></div>
      <div id="beaker">
        <div class="beer-foam">
          <div class="foam-1"></div>
          <div class="foam-2"></div>
          <div class="foam-3"></div>
          <div class="foam-4"></div>
          <div class="foam-5"></div>
          <div class="foam-6"></div>
          <div class="foam-7"></div>
        </div>

        <div id="liquid">

          <div class="bubble bubble1"></div>
          <div class="bubble bubble2"></div>
          <div class="bubble bubble3"></div>
          <div class="bubble bubble4"></div>
          <div class="bubble bubble5"></div>
        </div>
      </div>
    </div>
    <div class="form-group col-lg-2">
          <div class="row">
		  
					<!-- Formularz logowania-->
					<br size="1"></br> <!-- To robi odstępy między okienkami i guzikami-->
                  <div class="col-md-2 col-md-offset-5"></div>
            <form class="form-inline">
                  <div class="form-group mb-2">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" style="left:50%">
                  </div>
				
				<p class="smaller">
                  <div class="form-group mx-sm-3 mb-2">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                  </div></p>
                  <p><a class="button_example btn" href="index.css" >Confirm identity</a></p> <!-- dziedziczy z dwoch klas, button_example nadaje kolor a btn nadaje kształt i font-->
				<p><a class="button_signup btn" href="index.css" >Sign up</a></p>
					
			<!-- Buttony facebook i inne takie-->
				<p><div> 
				<p class="small"> <!-- miały być odstępy ale trochę nie pamiętam czy działa, ale jest. -->
				<a href="index.css" class="fb btn">
					<i class="fa fa-facebook fa-fw"></i> Login with Facebook
				</a> </p>
				</div>
		
				<div>
				<p class="small">
				<a href="index.css" class="twitter btn">
					<i class="fa fa-twitter fa-fw"></i> Login with Twitter
				</a></p>
				</div>
			
				<div>
				<p class="small"><a href="index.css" class="google btn">
					<i class="fa fa-google fa-fw"></i> Login with Google+
				</a></p>
					</p>
              </form>
          </div>
      </div></center>
  <center><h2 class="animated drunk fonted2">Chillout Hackhaton</h2></center>
    <div id="root"></div>
    <script type="text/javascript">
      $(document).ready(function() {
        $('.pour') //Pour Me Another Drink, Bartender!
          .delay(2000)
          .animate({
            height: '360px'
            }, 1500)
          .delay(1600)
          .slideUp(500);

        $('#liquid') // I Said Fill 'Er Up!
          .delay(3400)
          .animate({
            height: '170px'
          }, 2500);

        $('.beer-foam') // Keep that Foam Rollin' Toward the Top! Yahooo!
          .delay(3400)
          .animate({
            bottom: '200px'
            }, 2500);
        });
      </script>
  </body>
</html>
